
.homepicture {
  width: 200px;
  float: left;
  cursor: pointer;
  object-fit: fit;
  aspect-ratio: 1;
  transition: transform 0.2s;
  margin-right: 100px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 1;
}

.headerpicture {
  width: 120px;
  float: right;
  margin-right: auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
  transition: transform 0.2s;
}

.picture {
  width: 200px;
  /*border: 1px solid black;*/
  border-radius: 10px;
  display: block;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
  transition: transform 0.2s;
}

.picture:hover {
  filter: brightness(80%);
  transform: translate(-2px, 2px);
}

.container-big {
  position: relative;
  flex: 1;
}

.container {
  position: relative;
  margin: 0 1rem 1rem 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: .5s ease;
  background-color: #e0a1d9;
  display: grid;
  place-items: center;
}

.container:hover .overlay {
  /* display: block; */
  opacity: 1;
}


.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap: 12px;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
}

.page-container {
  width: 100%;
  margin: auto;
  gap: 12px;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  transform: translate(-2px, 2px);
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}


.text {
  color: black;
  font-size: 20px;
}

body {
  padding-bottom: 50px;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  font-color: rgb(126, 12, 31);
  color: black;
}


.button-1 {
background-color: #EA4C89;
border-radius: 8px;
border-style: none;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 500;
height: 40px;
line-height: 20px;
list-style: none;
margin: 0;
outline: none;
padding: 10px 16px;
position: relative;
text-align: center;
text-decoration: none;
transition: color 100ms;
vertical-align: baseline;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
background-color: #F082AC;
}

